@use "sass:color";
@import "../node_modules/normalize.css/normalize.css";

/* V A R I A B L E S */

// Fuentes
$fuentePrincipal: "Raleway", sans-serif;
$fuenteSecundaria: "Roboto", sans-serif;
$fuenteCursiva: "Bona Nova", serif;

// Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$primario: #7b2a3b; // Color primario (granate)
$secundario: #c39c63; // Color secundario
$negro: #000000;
$blanco: #ffffff;
$grisClaro: #eceeef;
$marronClaro: #ebe7de;

// Unidades
$separacion: 5rem; // Margen principal entre secciones

/* G L O B A L E S */

html {
  font-size: 62.5%; // Base 10px para calcular rem
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: $fuenteSecundaria;
  font-size: 1.6rem;
  background-color: $marronClaro;
}
p {
  color: $negro;
  font-size: 1.6rem;
  line-height: 2;
}
.contenedor {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: $negro;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* T I P O G R A F I A */

h1,
h2,
h3 {
  font-family: $fuentePrincipal;
  margin: 0 0 $separacion 0;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5;
}
h1 {
  font-size: 4rem; // Tamaño específico para el título principal
}
h2 {
  font-size: 3.6rem;
  color: $primario;

  span {
    color: $secundario; // Color secundario para los subtítulos
    font-size: 1.8rem;
    display: block;
  }

  &::after {
    content: "";
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 10 auto;
    background-image: url(./img/escut.png);
    background-size: 8rem; // Icono decorativo en el subtítulo
  }
}

.heading-blanco {
  @extend h2;
  color: $blanco;

  span {
    color: $blanco;
  }
  &::after {
    display: none;
  }
}

h3 {
  font-size: 3.2rem; // Tamaño de fuente específico para encabezados H3
}

/* M I X I N S */

@mixin telefono {
  @media (min-width: $telefono) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

// Mixin para diseño de cuadrícula (grid) con columnas y espaciado personalizados
@mixin grid($columnas, $espaciado) {
  display: grid;
  grid-template-columns: repeat($columnas, 1fr);
  gap: $espaciado;
}

/* P R E S E N T A C I O N  -  I C O N O S */

.iconos {
  margin-top: 5rem;
  .listado-iconos {
    @include tablet {
      @include grid(3, 2rem); // Distribución en 3 columnas en pantallas tablet
    }

    li {
      img {
        margin: 0 auto;
        width: 6rem; // Tamaño de los iconos en presentación
      }
      p {
        font-family: $fuenteCursiva;
        font-size: 3.2rem;
        color: $primario;
        margin-top: 0.5rem;
      }
    }
  }
}

.icono-animado {
  width: 64px;
  height: 64px;
  display: block;
  margin: 0 auto;
  transition: transform 0.5s ease-in-out; /* Suaviza el cambio solo en hover */

  &:hover {
    transform: rotate(360deg) scale(1.3); /* Gira 360 grados y aumenta el tamaño */
  }
}

/* P R E S E N T A C I O N  -  C O N T E N I D O  */

.contenido-principal {
  background-color: $blanco;
  padding: 5rem 2rem;

  @include tablet {
    padding: 10rem;
    margin-top: -10rem;
    position: relative; // Ajuste de posición en pantallas tablet y superiores
  }
}

/* P R E S E N T A C I O N  -  G A L E R I A */

.galeria {
  @include grid(2, 2rem); // Configuración de galería en 2 columnas

  @include desktop {
    @include grid(4, 2rem); // Distribución en 4 columnas en pantallas grandes
  }

  .imagen {
    img {
      height: 30rem;
      width: 30rem;
      object-fit: cover; // Ajuste de imagen para cubrir el contenedor
    }

    @include desktop {
      &:nth-child(1) {
        grid-row: 1 / 3; // Imagen principal ocupando más espacio en pantalla grande
        img {
          height: 62rem;
          object-position: center;
        }
      }
      &:nth-child(2) {
        grid-column: 2 / 4;
        img {
          width: 62rem; // Imagen expandida horizontalmente en pantalla grande
        }
      }
      &:nth-child(4) {
        grid-row: 2 / 4;
        img {
          height: 62rem; // Imagen expandida verticalmente en pantalla grande
        }
      }
      &:nth-child(5) {
        grid-column: 3 / 5;
        img {
          width: 62rem;
        }
      }
      &:nth-child(6) {
        grid-column: 3 / 5;
        img {
          width: 62rem;
        }
      }
      &:nth-child(7) {
        grid-row: 3 / 5;
        img {
          height: 62rem;
        }
      }
      &:nth-child(8) {
        grid-column: 2 / 5;
        img {
          width: 94rem; // Imagen ocupando más espacio horizontal en pantalla grande
        }
      }
      &:nth-child(9) {
        grid-column: 1 / 3;
        img {
          width: 62rem;
        }
      }
      &:nth-child(10) {
        grid-column: 3 / 5;
        img {
          width: 62rem;
        }
      }
    }
  }
}

/* P R E S E N T A C I O N  -  O P I N I O N E S */

.nuestras-opiniones {
  padding: 10rem 2rem; // Espaciado superior e inferior para la sección de opiniones

  @include tablet {
    padding: 10rem; // Aumento de padding en pantallas más grandes
  }

  .opinion {
    background-color: $marronClaro;
    padding: 2rem 4rem;
    max-width: 50rem;
    margin: 0 auto;
    border-radius: 1rem; // Borde redondeado para las opiniones

    .autor {
      text-align: right;
      font-size: 2.4rem;
      color: $primario;
      font-family: $fuenteCursiva; // Estilo en cursiva para el autor
    }
  }
}

/* H E A D E R  -  H E A D E R */

.header {
  padding: 5rem 0;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  @include tablet {
    min-height: 70rem; // Altura mínima en tablets
  }

  &::before {
    content: "";
    background-color: $negro;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6; // Superposición oscura para mejorar la legibilidad
  }

  .contenido-header {
    position: relative;

    h1 {
      text-align: center;
      color: $blanco;
      text-transform: uppercase;
      margin-top: 5rem;
      @include tablet {
        margin-top: 10rem; // Mayor margen en pantallas más grandes
      }
    }
  }
}

// Header de cada página
.header-presentacion {
  background-image: url(./img/header_presentacion.jpg);
}
.header-inicio {
  background-image: url(./img/header_inicio.jpg);
}
.header-actividades {
  background-image: url(./img/header_actividades.jpg);
}
.header-detalle {
  background-image: url(./img/header_detalle.jpg);
}
.header-enlaces {
  background-image: url(./img/header_enlaces.jpg);
}

/* H E A D E R  -  N A V E G A C I O N */

.nav-principal {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  @include tablet {
    flex-direction: row;
    gap: 1rem;
    margin-top: 0;
  }

  a {
    text-align: center;
    color: $blanco;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1rem;
    @include tablet {
      margin-bottom: 0;
    }

    &:hover {
      color: $secundario; // Cambio de color
    }

    &.activo {
      color: $secundario; // Color especial para el enlace activo
    }
  }
}

/* H E A D E R  -  B A R R A*/

.barra {
  display: flex;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center; // Alineación centrada en tablets
  }

  .logo {
    width: 50%;
    margin: 0 auto; // Tamaño automático para el logo

    @include tablet {
      width: 16rem;
      margin: 0;
    }
  }
}

/* F O O T E R  -  F O O T E R */

.footer {
  background-color: $primario;

  .contenido-footer {
    padding: 5rem;

    @include tablet {
      @include grid(
        3,
        2rem
      ); // Distribución en tres columnas en pantallas tablet
    }

    .mesinformacion {
      grid-column: span 3; // Ocupa todo el ancho en tablet (si aplica grid)
      text-align: center; // Centra el texto horizontalmente
      margin: -5rem 0 2rem 0; // Separación del contenido inferior
      font-size: 3.6rem; // Tamaño de fuente ajustado
      font-weight: bold; // Negrita para el título
      text-transform: uppercase; // Convierte el texto a mayúsculas
      color: $primario; // Color primario para contraste
    }
  }

  .licencia {
    text-align: center;
    margin: 0;
    padding: 2rem;
    color: $blanco;
  }
}

.footer-box {
  font-family: $fuenteCursiva;
  text-align: center;
  margin-bottom: $separacion;

  @include tablet {
    margin-bottom: 0;
  }

  h3 {
    font-family: $fuenteCursiva;
    margin: 0 0 1rem 0;
    font-size: 2.4rem;
    color: $secundario; // Color secundario para los títulos en el footer
  }

  p,
  a {
    font-size: 2rem;
    margin: 0;
  }
}

.footer-menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 5rem;

  @include tablet {
    flex-direction: row;
    gap: 2rem;
    margin: 2rem 0;
  }

  a {
    text-align: center;
    color: $blanco;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1rem;

    @include tablet {
      margin-bottom: 0;
    }

    &:hover {
      color: $secundario; // Cambio de color
    }

    &.activo {
      color: $secundario; // Color especial para el enlace activo
    }
  }
}

/* I N T E R N A S  -  E N L A C E S */

.contenido-enlaces {
  @include tablet {
    @include grid(2, $separacion); // Diseño de dos columnas en tablet
    background-image: url(./img/logo2.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 40%;
  }
}

/* I N T E R N A S  -  D E T A L L E */

.contenido-detalle1 {
  @include tablet {
    @include grid(2, $separacion);
    background-image: url(./img/detalle1.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 40%;
  }
}

.contenido-detalle2 {
  @include tablet {
    @include grid(2, $separacion);
    background-image: url(./img/detalle2.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 40%;
  }
}

.contenido-detalle3 {
  @include tablet {
    @include grid(2, $separacion);
    background-image: url(./img/detalle3.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 40%;
  }
}

li[hidden] {
  display: none !important;
}

.navegacion-detalle {
  margin-top: 5rem;

  .listado-navegacion-detalle {
    @include tablet {
      @include grid(
        3,
        2rem
      ); // Diseño en tres columnas para la navegación de detalles
    }

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; // Centrado de contenido dentro de cada ítem

      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;

        img {
          margin: 0 auto;
          width: 6rem; // Tamaño de los iconos en la navegación de detalles
        }

        p {
          font-family: $fuenteCursiva;
          font-size: 3.2rem;
          color: $primario;
          margin-top: 1rem; // Separación superior para el texto del enlace
        }
      }
    }

    .placeholder {
      visibility: hidden;
    }
  }
}

/* I N T E R N A S  -  I N I C I O */

.contenido-inicio {
  @include tablet {
    @include grid(2, 2rem); // Diseño en dos columnas en pantallas tablet
  }

  .imagen-clip {
    width: 350px; // Ancho del contenedor
    height: 350px; // Altura del contenedor
    overflow: hidden; // Oculta las partes de la imagen fuera del área recortada
    clip-path: polygon(
      0% 20%,
      60% 20%,
      60% 0%,
      100% 50%,
      60% 100%,
      60% 80%,
      0% 80%
    ); // Forma personalizada
    margin: 2rem auto; // Centra el contenedor horizontalmente y añade margen superior e inferior

    img {
      width: 100%; // La imagen ocupa todo el ancho del contenedor
      height: 100%; // La imagen ocupa toda la altura del contenedor
      object-fit: cover; // Ajusta la imagen para cubrir el contenedor sin distorsión
    }
  }

  .texto {
    blockquote {
      margin: 0;
      padding: 1rem;
      border-left: 0.5rem solid $primario;
      font-size: 2rem;
    }
  }
}

/* I N T E R N A S  -  A C T I V I D A D E S */

.categoria-actividades {
  margin-bottom: $separacion; // Espaciado inferior entre categorías de actividades
  @include tablet {
    display: flex;
    gap: $separacion;
    align-items: center; // Alineación en el centro para tabletas
  }
  &:last-of-type {
    margin-bottom: 0;
  }
  &:nth-child(even) {
    .texto {
      order: -1; // Invierte el orden de texto e imagen en elementos pares
    }
  }
  .imagen,
  .texto {
    flex: 1;
  }
  .texto {
    margin-top: 1rem;
    h3 {
      margin: 0;
      text-align: left;
      color: $primario;

      &::after {
        content: "";
        display: block;
        width: 50%;
        height: 5px;
        background-color: $secundario; // Línea decorativa debajo de los títulos
      }
    }
  }
}

/* U T I L I D A D E S */

.text-center {
  text-align: center;
}
.bg-white {
  background-color: $blanco;
}

.margin-negativo-10 {
  margin-top: -10rem;
}

.padding-bottom-0 {
  padding-bottom: 0;
}

.imagen-interactiva {
  transition: transform 0.3s ease;
  display: block;
  width: 100%;
  height: auto;
  cursor: pointer;
}

#enlaces-documentacion {
  padding: 2rem;
  background-color: $marronClaro;

  h2 {
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
    color: $primario;
    font-family: $fuentePrincipal;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;

    th,
    td {
      border: 1px solid $grisClaro;
      padding: 1.2rem;
      text-align: left;
      font-family: $fuenteSecundaria;
      font-size: 1.6rem;

      &:nth-child(2) a {
        color: $primario;
        text-decoration: none;

        &:hover {
          text-decoration: underline; // Subrayado al pasar el cursor sobre enlaces
        }
      }
    }

    th {
      background-color: $grisClaro;
      font-weight: bold;
    }

    tr:nth-child(even) {
      background-color: color.adjust(
        $grisClaro,
        $lightness: 10%
      ); // Color alternado para filas pares
    }
  }
}
